.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
/* h1 {
  margin: 10px;
} */

.calculator {
  background-color: #212121;
  margin: 20px auto 0;
  padding: 20px;
  max-width: 465px;
  width: 100%;
  border-radius: 20px;
}

form p {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  font-size: 36px;
  padding: 15px;
  background-color: #d1d9d6;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin: 0 auto 20px;
  padding: 15px;
  max-width: 420px;
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: white;
  text-align: end;
}
.panel {
  margin: 0 auto 0.3em;
  display: grid;
  max-width: 400px;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  gap: 0.3em;
}

.active {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.3em;
}
.active button {
  background-color: rgb(137 134 134);
}

button {
  border: 1px solid transparent;
  background: #cac8c8;
  margin-right: 0.1em;
}
button:hover {
  border: 1px solid white;
  background-color: black;
  color: white;
}
.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.3em;
  justify-content: center;
}
.numbers button:last-child {
  grid-column: 2/span 2;
  background-color: tomato;
}
.numbers button:last-child:hover {
  background-color: rgb(254, 70, 37);
}
.numbers button:first-child {
  grid-row: 4;
}

form > button {
  margin: 0.3em 0.3em 0;
  background-color: rgb(137 134 134);
}
